Node-RED/Node-RED_sender_boot.txt
[{"id":"b1c2d3e4f5a60001","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/sender/boot_count","topic":"mailbox/sender/boot_count","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1160,"wires":[["b1c2d3e4f5a60002"]]},{"id":"b1c2d3e4f5a60002","type":"rbe","z":"d4ddababa78789b5","name":"block unless changed","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"","x":380,"y":1160,"wires":[["b1c2d3e4f5a60003"]]},{"id":"b1c2d3e4f5a60003","type":"function","z":"d4ddababa78789b5","name":"Build boot message","func":"var reason = flow.get('sender_boot_reason') || 'unknown';\nvar count  = msg.payload;\nmsg.payload = \"Sender rebooted (reason: \" + reason + \", boot #\" + count + \")\";\nreturn msg;","outputs":1,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1160,"wires":[["b1c2d3e4f5a60004"]]},{"id":"b1c2d3e4f5a60004","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Mailbox","priority":0,"sound":"siren","url":"","url_title":"","html":false,"x":780,"y":1160,"wires":[]},{"id":"b1c2d3e4f5a60005","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/sender/boot_reason","topic":"mailbox/sender/boot_reason","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1200,"wires":[["b1c2d3e4f5a60006"]]},{"id":"b1c2d3e4f5a60006","type":"function","z":"d4ddababa78789b5","name":"Store boot_reason","func":"flow.set('sender_boot_reason', msg.payload);\nreturn null;","outputs":0,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1200,"wires":[]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e846fd90c0019e66","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]
