Node-RED/Node-RED_no_mail_alert.txt
[{"id":"nm_comm_v210","type":"comment","z":"d4ddababa78789b5","name":"No-Mail Alert — V2.1.0 — 2026-06-03","info":"V2.1.0 — 2026-06-03 — Initial release\n\nFires Pushover alert if no mail has arrived for 7+ days.\nChecks daily at 09:00 server time.\n\nRequires receiver firmware V2.2.0+ for the\nmailbox/last_mail_at retained topic.","x":190,"y":1260,"wires":[]},{"id":"nm_mqtt_in","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/last_mail_at","topic":"mailbox/last_mail_at","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1300,"wires":[["nm_store_fn"]]},{"id":"nm_store_fn","type":"function","z":"d4ddababa78789b5","name":"Store last mail time","func":"var t = new Date(msg.payload).getTime();\nif (!isNaN(t)) flow.set('lastMailAt', t);\nreturn null;","outputs":0,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1300,"wires":[]},{"id":"nm_inject","type":"inject","z":"d4ddababa78789b5","name":"Daily 09:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 9 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1340,"wires":[["nm_check_fn"]]},{"id":"nm_check_fn","type":"function","z":"d4ddababa78789b5","name":"Check no-mail (7 days)","func":"var lastMailMs = flow.get('lastMailAt');\nif (lastMailMs === undefined || lastMailMs === null) {\n    return null;\n}\nvar daysSince = (Date.now() - lastMailMs) / (1000 * 60 * 60 * 24);\nif (daysSince >= 7) {\n    var days = Math.floor(daysSince);\n    msg.payload = 'Ei postia ' + days + ' päivään';\n    return msg;\n}\nreturn null;","outputs":1,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1340,"wires":[["nm_pushover"]]},{"id":"nm_pushover","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Mailbox","priority":1,"sound":"falling","url":"","url_title":"","html":false,"x":590,"y":1340,"wires":[]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e846fd90c0019e66","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]
