Node-RED/Node-RED_battery_low.txt
[{"id":"comm_batt_v200","type":"comment","z":"d4ddababa78789b5","name":"Battery Low — V2.1.0 — 2026-06-06","info":"V2.1.0 — 2026-06-06 — 7-day repeat reminder while battery stays low\n\nAdds a 7-day repeat: if battery remains low, resends Pushover every\n7 days until a normal heartbeat arrives. Uses Node-RED flow context\n(battLowActive flag) to track state across packets.\n\nV2.0.0 — 2026-06-03 — Initial versioned release\n\nFires Pushover alert when mailbox/sender/last_packet_type\nequals \"heartbeat (low batt)\". Uses human-readable label, not raw\nnumeric packet type.","x":130,"y":1060,"wires":[]},{"id":"af6d71cefdc099f5","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/sender/last_packet_type","topic":"mailbox/sender/last_packet_type","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1100,"wires":[["754fab022a12a7aa","c3a5016e38f39a41"]]},{"id":"754fab022a12a7aa","type":"switch","z":"d4ddababa78789b5","name":"heartbeat (low batt)?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heartbeat (low batt)","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":1100,"wires":[["a1b2c3d4e5f67890","c5e29cfb43959e40"],["b2c3d4e5f6789012"]]},{"id":"a1b2c3d4e5f67890","type":"function","z":"d4ddababa78789b5","name":"set low batt active","func":"flow.set('battLowActive', true);","outputs":1,"x":650,"y":1060,"wires":[[]]},{"id":"b2c3d4e5f6789012","type":"function","z":"d4ddababa78789b5","name":"clear low batt","func":"flow.set('battLowActive', false);","outputs":1,"x":640,"y":1160,"wires":[[]]},{"id":"c5e29cfb43959e40","type":"change","z":"d4ddababa78789b5","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mailbox battery low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1200,"wires":[["8c61923408fa0993"]]},{"id":"8c61923408fa0993","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Mailbox","priority":0,"sound":"siren","url":"","url_title":"","html":false,"x":740,"y":1200,"wires":[]},{"id":"c3a5016e38f39a41","type":"debug","z":"d4ddababa78789b5","name":"mailbox/sender/last_packet_type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":1140,"wires":[]},{"id":"c3d4e5f678901234","type":"inject","z":"d4ddababa78789b5","name":"Every 7 days","props":[{"p":"payload"}],"repeat":"604800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1260,"wires":[["d4e5f67890123456"]]},{"id":"d4e5f67890123456","type":"function","z":"d4ddababa78789b5","name":"still low batt?","func":"if (flow.get('battLowActive')) {\n    return msg;\n}\nreturn null;","outputs":1,"x":340,"y":1260,"wires":[["c5e29cfb43959e40"]]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e846fd90c0019e66","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]
