Node-RED/Node-RED_battery_low.txt
[{"id":"comm_batt_v200","type":"comment","z":"d4ddababa78789b5","name":"Battery Low — V2.0.0 — 2026-06-03","info":"V2.0.0 — 2026-06-03 — Initial versioned release\n\nFires Pushover alert when mailbox/sender/last_packet_type\nequals \"heartbeat (low batt)\".\nUses human-readable label, not raw numeric packet type.","x":130,"y":1060,"wires":[]},{"id":"af6d71cefdc099f5","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/sender/last_packet_type","topic":"mailbox/sender/last_packet_type","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1100,"wires":[["754fab022a12a7aa","c3a5016e38f39a41"]]},{"id":"754fab022a12a7aa","type":"switch","z":"d4ddababa78789b5","name":"heartbeat (low batt)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heartbeat (low batt)","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1100,"wires":[["c5e29cfb43959e40"]]},{"id":"c5e29cfb43959e40","type":"change","z":"d4ddababa78789b5","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mailbox battery low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1100,"wires":[["8c61923408fa0993"]]},{"id":"8c61923408fa0993","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Mailbox","priority":0,"sound":"siren","url":"","url_title":"","html":false,"x":710,"y":1100,"wires":[]},{"id":"c3a5016e38f39a41","type":"debug","z":"d4ddababa78789b5","name":"mailbox/sender/last_packet_type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":1140,"wires":[]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e846fd90c0019e66","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]
