Node-RED/Node-RED_mail_arrived.txt
[{"id":"e576d82a12d881e5","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/state","topic":"mailbox/state","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1040,"wires":[["045a201333e0a72b"]]},{"id":"045a201333e0a72b","type":"switch","z":"d4ddababa78789b5","name":"MAIL/EMPTY","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"MAIL","vt":"str"},{"t":"eq","v":"EMPTY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":1040,"wires":[["f1a2b3c4d5e60001"],[]]},{"id":"f1a2b3c4d5e60001","type":"function","z":"d4ddababa78789b5","name":"Build message","func":"var rssi = flow.get('rssi');\nif (rssi !== undefined && rssi !== null) {\n    msg.payload = \"Postia laatikossa! (\" + rssi + \" dBm)\";\n} else {\n    msg.payload = \"Postia laatikossa!\";\n}\nreturn msg;","outputs":1,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1040,"wires":[["550ce535f4532b09"]]},{"id":"550ce535f4532b09","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Mailbox","priority":0,"sound":"siren","url":"","url_title":"","html":false,"x":660,"y":1040,"wires":[]},{"id":"f1a2b3c4d5e60002","type":"mqtt in","z":"d4ddababa78789b5","name":"mailbox/receiver/rssi","topic":"mailbox/receiver/rssi","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1080,"wires":[["f1a2b3c4d5e60003"]]},{"id":"f1a2b3c4d5e60003","type":"function","z":"d4ddababa78789b5","name":"Store RSSI","func":"flow.set('rssi', msg.payload);\nreturn null;","outputs":0,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1080,"wires":[]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"52ccb15756a5c008","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]
