home_assistant/nodered_pushover_flow.json
[{"id":"2dd08a4e14c323da","type":"comment","z":"d4ddababa78789b5","name":"Postilaatikko","info":"","x":90,"y":1840,"wires":[]},{"id":"a31c797f793074e5","type":"debug","z":"d4ddababa78789b5","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":1860,"wires":[]},{"id":"550ce535f4532b09","type":"pushover","z":"d4ddababa78789b5","name":"Iphone","device":"iphone","title":"Ilmoitus","priority":0,"sound":"siren","url":"","url_title":"","html":false,"x":670,"y":1900,"wires":[]},{"id":"184d9df39d993c75","type":"change","z":"d4ddababa78789b5","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Postia laatikossa!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1900,"wires":[["550ce535f4532b09"]]},{"id":"e576d82a12d881e5","type":"mqtt in","z":"d4ddababa78789b5","name":"arduino/mailbox/switch","topic":"arduino/mailbox/switch","qos":"0","datatype":"auto-detect","broker":"c1352334eb7154fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":1900,"wires":[["a31c797f793074e5","045a201333e0a72b"]]},{"id":"045a201333e0a72b","type":"switch","z":"d4ddababa78789b5","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1900,"wires":[["184d9df39d993c75"],[]]},{"id":"c1352334eb7154fc","type":"mqtt-broker","name":"HomeassistantMQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4c81fecca05b1346","type":"global-config","env":[],"modules":{"node-red-node-pushover":"0.3.1"}}]